<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd"
       default-autowire="byName">

    <context:spring-configured/>
    <context:component-scan base-package="net.sf.dan.cxf"/>
    <context:annotation-config/>
    <mvc:annotation-driven/>

    <bean id="defaultProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath*:default.properties</value>
                <value>file:${catalina.home}/conf/cxf-sum.properties</value>
                <value>file:${catalina.home}/cxf-sum.properties</value>
                <value>file:${catalina.base}/conf/cxf-sum.properties</value>
                <value>file:${catalina.base}/cxf-sum.properties</value>
            </list>
        </property>
    </bean>

    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="ignoreUnresolvablePlaceholders" value="false"/>
        <property name="propertiesArray">
            <list>
                <ref bean="defaultProperties"/>
            </list>
        </property>
    </bean>


    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <jaxws:endpoint id="localSummatorImpl" implementor="net.sf.dan.cxf.SummatorImpl" address="/Summator" />

    <bean id="remoteSummator" class="net.sf.dan.cxf.Summator"
          factory-bean="clientFactory" factory-method="create"/>

    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="net.sf.dan.cxf.Summator"/>
        <property name="address" value="${cxf.summator_service_addr}"/>
    </bean>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
    </bean>

    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <!--<property name="interceptors" ref="openSessionInViewInterceptor"/>-->
    </bean>

    <mvc:resources mapping="/static/**" location="/WEB-INF/static/"/>
    <mvc:resources mapping="/favicon.ico" location="/WEB-INF/static/favicon.ico"/>
    <mvc:resources mapping="/style.css" location="/WEB-INF/static/style.css"/>
    <mvc:resources mapping="/*.js" location="/WEB-INF/static/"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>